#canvas{
    max-width: 100%;
}
.toolbar{
    box-shadow: 0px 0px 20px 5px black;
    padding:20px;
    background-color: rgb(116, 116, 116);
    position: fixed;
    top:70vh;
    left:0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    display: flex;
}
.toolbar svg{
    margin: 10vh auto;
}
.toolbar svg:hover{
    background-color:rgb(58, 58, 58) ;
    padding: 5px;
    border-radius: 5px;
}
.hidden{
    display: none;
}
.baropen{
    box-shadow: 0px 0px 20px 5px black;
    padding:20px;
    background-color: rgb(116, 116, 116);
    position: fixed;
    top:90vh;
    left:0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
}
.weather-dropdown{
    position: absolute;
    display: none;
    height: 150px;
    width: 100px;
    overflow-y: scroll;
    flex-flow: column;
    background-color:dimgray;
}
.weather-dropdown img{
    width: 100%;
    padding: 5px 0;
    margin: 0 auto;
    border-bottom: 1px solid lightgray;
}